.note-container {
    border-bottom: solid thin;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;

    &:hover {
        .icon {
            visibility: visible;
        }
    }
}

.note-detail {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.note-title {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    display: inline-block;
    font-size: 12px;
}

.add-btn {
    margin: auto 0;
}

.icon {
    margin: auto 0;
    visibility: hidden;
    cursor: pointer;
}

.note-option {
    margin: auto 0;
    width: 80px;
}

button {
    background: none;
    border: none;
    margin: auto 0;
}